@page
@model IIS_Manager.Web.Areas.User.Pages.App_Pools.IndexModel
@{
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container p-3">
    <input type="hidden" value="@Model.IisServers" />
    @foreach (var iisServer in Model.IisServers)
    {
        <div class="row pt-4 align-items-center">
            <div class="col-6">
                <h2 class="text-primary">IIS-Server: @iisServer.Name</h2>
            </div>
            <div class="col-6">
                <div class="d-flex justify-content-evenly">
                    <button id="toggleButton_@iisServer.Id" class="btn btn-outline-secondary" data-iis-server-id="@iisServer.Id">
                        <span id="toggleButtonIcon_@iisServer.Id" class="bi bi-caret-right"></span>
                        <span id="toggleButtonText_@iisServer.Id">&nbsp;Show App Pools</span>
                    </button>
                    <button id="reloadButton_@iisServer.Id" class="btn btn-outline-secondary" data-iis-server-id="@iisServer.Id">
                        <i class="bi bi-arrow-clockwise"></i>
                        &nbsp;Reload App Pools
                    </button>
                    <span id="loadingSpinner_@iisServer.Id" class="spinner-border" role="status" style="display: none;">
                        <span class="visually-hidden">Loading...</span>
                    </span>
                </div>
            </div>
        </div>
        @if (iisServer.AppPools.Any())
        {
            <div id="tableContainer_@iisServer.Id" class="row pt-4 align-items-center" style="display: none;">
                <div class="col-6">
                    <div class="input-group align-items-start">
                        <span class="input-group-text">
                            <i class="bi bi-funnel"></i>
                        </span>
                        <input type="text" class="form-control mb-3" id="filterInput_@iisServer.Id" placeholder="Name...">
                    </div>
                </div>
                <div class="col-6 text-end" style="height: 53.33px">
                    <div class="d-flex justify-content-evenly">
                        <button type="button" class="btn btn-outline-success" id="startSelectedButton_@iisServer.Id">
                            <i class="bi bi-play-btn"></i>&nbsp;Start Selected
                        </button>
                        <button type="button" class="btn btn-outline-danger" id="stopSelectedButton_@iisServer.Id">
                            <i class="bi bi-stop-btn"></i>&nbsp;Stop Selected
                        </button>
                        <button type="button" class="btn btn-outline-warning" id="restartSelectedButton_@iisServer.Id">
                            <i class="bi bi-repeat"></i>&nbsp;Restart Selected
                        </button>
                        <script>
                            $('#startSelectedButton_@iisServer.Id').click(function () {
                                var iisServerId = "@iisServer.Id";
                                var loading = $('#loadingSpinner_' + iisServerId);
                                loading.show();
                                var selected = document.getElementById("selected_start_@iisServer.Id").value;
                                var antiForgeryToken = $('[name=__RequestVerificationToken]').val();
                                $.ajax({
                                    type: "POST",
                                    url: '/User/App_Pools?id=' + iisServerId + '&selected=' + selected + '&handler=Start',
                                    data: { __RequestVerificationToken: antiForgeryToken },
                                    success: function (results) {
                                        reloadIisServerData(iisServerId);
                                    },
                                    error: function (error) {
                                        reloadIisServerData(iisServerId);
                                    }
                                });
                            });
                            $('#stopSelectedButton_@iisServer.Id').click(function () {
                                var iisServerId = "@iisServer.Id";
                                var loading = $('#loadingSpinner_' + iisServerId);
                                loading.show();
                                var selected = document.getElementById("selected_stop_@iisServer.Id").value;
                                var antiForgeryToken = $('[name=__RequestVerificationToken]').val();
                                $.ajax({
                                    type: "POST",
                                    url: '/User/App_Pools?id=' + iisServerId + '&selected=' + selected + '&handler=Stop',
                                    data: { __RequestVerificationToken: antiForgeryToken },
                                    success: function (results) {
                                        reloadIisServerData(iisServerId);
                                    },
                                    error: function (error) {
                                        reloadIisServerData(iisServerId);
                                    }
                                });
                            });
                            $('#restartSelectedButton_@iisServer.Id').click(function () {
                                var iisServerId = "@iisServer.Id";
                                var loading = $('#loadingSpinner_' + iisServerId);
                                loading.show();
                                var selected = document.getElementById("selected_restart_@iisServer.Id").value;
                                var antiForgeryToken = $('[name=__RequestVerificationToken]').val();
                                $.ajax({
                                    type: "POST",
                                    url: '/User/App_Pools?id=' + iisServerId + '&selected=' + selected + '&handler=Restart',
                                    data: { __RequestVerificationToken: antiForgeryToken },
                                    success: function (results) {
                                        reloadIisServerData(iisServerId);
                                    },
                                    error: function (error) {
                                        reloadIisServerData(iisServerId);
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
            <table id="table_@iisServer.Id" class="table table-bordered table-striped" style="width: 100%; display: none">
                <thead>
                <tr class="table-primary">
                    <th>

                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        State
                    </th>
                    <th>
                        Runtime Version
                    </th>
                    <th>
                        Applications
                    </th>
                    <th class="fst-italic">
                        Action
                    </th>
                </tr>
                </thead>
                <tbody id="appPoolTableBody_@iisServer.Id">
                <tr>
                    <td>
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </td>
                    <td width="25%">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </td>
                    <td width="15%">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </td>
                    <td width="15%">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </td>
                    <td width="10%">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </td>
                    <td width="30%">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </td>
                    </tr>
                </tbody>
            </table>
            
            <input type="hidden" id="allAppPoolNames_@iisServer.Id" value="@string.Join(",", iisServer.AppPools.Select(ap => ap.Name))" />
            <input type="hidden" id="selected_start_@iisServer.Id" name="selected" value="" />
            <input type="hidden" id="selected_stop_@iisServer.Id" name="selected" value="" />
            <input type="hidden" id="selected_restart_@iisServer.Id" name="selected" value="" />
            <script>
                $(document).ready(function () {
                    var allAppPoolNames = document.getElementById("allAppPoolNames_@iisServer.Id").value;
                    var selectedInputStart = document.getElementById("selected_start_@iisServer.Id");
                    selectedInputStart.value = allAppPoolNames;
                    var selectedInputStop = document.getElementById("selected_stop_@iisServer.Id");
                    selectedInputStop.value = allAppPoolNames;
                    var selectedInputRestart = document.getElementById("selected_restart_@iisServer.Id");
                    selectedInputRestart.value = allAppPoolNames;

                    document.getElementById("filterInput_@iisServer.Id").addEventListener("keyup", function () {
                        var input, filter, table, tr, td, i, txtValue;
                        var selectedAppPoolNames = [];
                        input = document.getElementById("filterInput_@iisServer.Id");
                        filter = input.value.toUpperCase();
                        table = document.getElementById("appPoolTableBody_@iisServer.Id");
                        tr = table.getElementsByTagName("tr");
                        for (i = 0; i < tr.length; i++) {
                            td = tr[i].getElementsByTagName("td")[1];
                            if (td) {
                                txtValue = td.textContent || td.innerText;
                                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                    selectedAppPoolNames.push(txtValue);
                                } else {
                                    tr[i].style.display = "none";
                                }
                            }
                        }

                        var selectedInputStart = document.getElementById("selected_start_@iisServer.Id");
                        selectedInputStart.value = selectedAppPoolNames.join(',').replace(/\s+/g, "").replace(/,\s+/g, ",");
                        var selectedInputStop = document.getElementById("selected_stop_@iisServer.Id");
                        selectedInputStop.value = selectedAppPoolNames.join(',').replace(/\s+/g, "").replace(/,\s+/g, ",");
                        var selectedInputRestart = document.getElementById("selected_restart_@iisServer.Id");
                        selectedInputRestart.value = selectedAppPoolNames.join(',').replace(/\s+/g, "").replace(/,\s+/g, ",");
                    });
                });
            
            </script>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                @iisServer.ErrorMessage
            </div>
        }
    }
</div>

<script>
    function getUpdatedAppPoolsData(iisServerId) {
        var loading = $('#loadingSpinner_' + iisServerId);
        loading.show();
        $.ajax({
            url: '/User/App_Pools/Index?handler=AppPools&iisServerId=' + iisServerId,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                updateStates(data);
                updateSelectedAppPoolNames();
                loading.hide();
            },
            error: function (xhr, status, error) {
                console.error('Error fetching updated data:', error);
                loading.hide();
            }
        });
    }

    function updateStates(data) {
        data.forEach(function (iisServer) {
            var appPoolTableBody = $('#appPoolTableBody_' + iisServer.id);
            appPoolTableBody.empty();

            if (iisServer.appPools && iisServer.appPools.length > 0) {
                iisServer.appPools.forEach(function (appPool) {
                    var row = $('<tr></tr>');

                    var favoriteCell = $('<td></td>');
                    var favoriteIcon = $('<i class="bi ' + (appPool.isFavorite ? 'bi-star-fill' : 'bi-star') + '"></i>');
                    var favoriteButton = $('<button type="submit" class="btn btn-outline-primary"></button>').append(favoriteIcon);
                    var favoriteForm = $('<form method="post" action="/User/App_Pools?id=' + iisServer.id + '&handler=SetFavorite"><input type="hidden" name="selected" value="' + appPool.name + '">' + '@Html.AntiForgeryToken()' + '</form>').append(favoriteButton);
                    favoriteCell.append(favoriteForm);

                    var nameCell = $('<td width="25%"></td>').text(appPool.name);
                    var stateCell = $('<td width="15%"></td>').text(appPool.state);
                    if (appPool.state === "Started") {
                        stateCell.addClass("text-success");
                    } else if (appPool.state === "Stopped") {
                        stateCell.addClass("text-danger");
                    }
                    var runtimeVersionCell = $('<td width="15%"></td>').text(appPool.runtimeVersion);
                    var applicationsCell = $('<td width="10%"></td>').text(appPool.applications.length);

                    var actionCell = $('<td width="30%"></td>');
                    var actionButtonGroup = $('<div class="d-flex justify-content-evenly"></div>');

                    var startButton = $('<button type="button" class="btn btn-outline-success" id="startButton_' + iisServer.id + '"></button>').html('<i class="bi bi-play-btn"></i>&nbsp;Start');
                    var stopButton = $('<button type="button" class="btn btn-outline-danger" id="stopButton_' + iisServer.id + '"></button>').html('<i class="bi bi-stop-btn"></i>&nbsp;Stop');
                    var restartButton = $('<button type="button" class="btn btn-outline-warning" id="restartButton_' + iisServer.id + '"></button>').html('<i class="bi bi-repeat"></i>&nbsp;Restart');

                    actionButtonGroup.append(startButton, stopButton, restartButton);
                    actionCell.append(actionButtonGroup);

                    row.append(favoriteCell, nameCell, stateCell, runtimeVersionCell, applicationsCell, actionCell);
                    
                    startButton.click(function () {
                        var iisServerId = iisServer.id;
                        var loading = $('#loadingSpinner_' + iisServerId);
                        loading.show();
                        var appPoolName = appPool.name;
                        var antiForgeryToken = $('[name=__RequestVerificationToken]').val();
                        $.ajax({
                            type: "POST",
                            url: '/User/App_Pools?id=' + iisServerId + '&selected=' + appPoolName + '&handler=Start',
                            data: { __RequestVerificationToken: antiForgeryToken },
                            success: function (results) {
                                reloadIisServerData(iisServerId);
                            },
                            error: function (error) {
                                reloadIisServerData(iisServerId);
                            }
                        });
                    });

                    stopButton.click(function () {
                        var loading = $('#loadingSpinner_' + iisServerId);
                        loading.show();
                        var iisServerId = iisServer.id;
                        var appPoolName = appPool.name;
                        var antiForgeryToken = $('[name=__RequestVerificationToken]').val();
                        $.ajax({
                            type: "POST",
                            url: '/User/App_Pools?id=' + iisServerId + '&selected=' + appPoolName + '&handler=Stop',
                            data: { __RequestVerificationToken: antiForgeryToken },
                            success: function (results) {
                                reloadIisServerData(iisServerId);
                            },
                            error: function (error) {
                                reloadIisServerData(iisServerId);
                            }
                        });
                    });

                    restartButton.click(function () {
                        var loading = $('#loadingSpinner_' + iisServerId);
                        loading.show();
                        var iisServerId = iisServer.id;
                        var appPoolName = appPool.name;
                        var antiForgeryToken = $('[name=__RequestVerificationToken]').val();
                        $.ajax({
                            type: "POST",
                            url: '/User/App_Pools?id=' + iisServerId + '&selected=' + appPoolName + '&handler=Restart',
                            data: { __RequestVerificationToken: antiForgeryToken },
                            success: function (results) {
                                reloadIisServerData(iisServerId);
                            },
                            error: function (error) {
                                reloadIisServerData(iisServerId);
                            }
                        });
                    });

                    appPoolTableBody.append(row);
                });
            } else {
                var appPoolTable = $('#table_' + iisServer.id);
                var appPoolTableContainer = $('#tableContainer_' + iisServer.id)
                appPoolTable.empty();
                appPoolTableContainer.empty();
                var errorAlert = $('<div class="alert alert-danger" role="alert"></div>').text(iisServer.errorMessage);
                appPoolTableContainer.append(errorAlert);
            }
        });
    }
    
    function updateSelectedAppPoolNames() {
        var selectedAppPoolNames = [];
        $(".table").each(function () {
            var tableId = $(this).attr("id");
            var iisServerId = tableId.split("_")[1];
            var visibleRows = $("#" + tableId + " tbody tr:visible");
            visibleRows.each(function () {
                var appPoolName = $(this).find("td:eq(1)").text();
                selectedAppPoolNames.push(appPoolName);
            });

            var selectedInputStart = $("#selected_start_" + iisServerId);
            selectedInputStart.val(selectedAppPoolNames.join(','));

            var selectedInputStop = $("#selected_stop_" + iisServerId);
            selectedInputStop.val(selectedAppPoolNames.join(','));

            var selectedInputRestart = $("#selected_restart_" + iisServerId);
            selectedInputRestart.val(selectedAppPoolNames.join(','));
        });
    }
</script>

<script>
    function reloadIisServerData(iisServerId) {
        var loading = $('#loadingSpinner_' + iisServerId);
        loading.show();
        $.ajax({
            url: '/User/App_Pools/Index?handler=AppPools&iisServerId=' + iisServerId,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                updateStates(data);
                updateSelectedAppPoolNames();
                loading.hide();
            },
            error: function (xhr, status, error) {
                console.error('Error fetching updated data for IIS Server ID ' + iisServerId + ':', error);
                loading.hide();
            }
        });
    }
</script>

<script>
    function toggleIisServerContent(iisServerId, forceHide) {
        var table = $("#table_" + iisServerId);
        var tableContainer = $("#tableContainer_" + iisServerId);
        var buttonText = $("#toggleButtonText_" + iisServerId);
        var icon = $("#toggleButtonIcon_" + iisServerId);

        if (forceHide || tableContainer.is(":visible")) {
            table.hide();
            tableContainer.hide();
            icon.removeClass("bi bi-caret-down").addClass("bi bi-caret-right");
            buttonText.text("Show App Pools");
        } else {
            table.show();
            tableContainer.show();
            icon.removeClass("bi bi-caret-right").addClass("bi bi-caret-down");
            buttonText.text("Hide App Pools");
            getUpdatedAppPoolsData(iisServerId);
        }
    }
</script>

<script>
    $(document).ready(function () {
        $(document).on("click", "[id^=toggleButton_]", function () {
            var iisServerId = $(this).data("iis-server-id");
            toggleIisServerContent(iisServerId, false); 
        });
        $(document).on("click", "[id^=reloadButton_]", function () {
            var iisServerId = $(this).data("iis-server-id");
            reloadIisServerData(iisServerId);
        });
    });
</script>




