@page
@model IIS_Manager.Web.Areas.User.Pages.Favorites.IndexModel
@{
}

<div class="container p-3">
    <div class="row pt-4 align-items-center">
        <div class="col-6">
            <h2 class="text-primary">Edit Favorites</h2>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width: 100%">
        <thead>
        <tr class="table-primary">
            <th>
                Type
            </th>
            <th>
                Server
            </th>
            <th>
                Name
            </th>
            <th>
                State
            </th>
            <th class="fst-italic">
                Action
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var obj in Model.Favorites)
        {
            <tr>
                <td width="15%">
                    @obj.AssetType
                </td>
                <td width="20%">
                    @obj.AssetServer
                </td>
                <td width="20%">
                    @obj.AssetName
                </td>
                <td width="15%">
                    @obj.AssetState
                </td>
                <td width="30%">
                    <div class="btn-group d-flex justify-content-evenly">
                        <form method="post" asp-area="User" asp-page="/Favorites/Index" asp-page-handler="Up" asp-route-displayOrder="@obj.DisplayOrder">
                            <button type="submit" class="btn btn-outline-secondary">
                                <i class="bi bi-arrow-up-square"></i>&nbsp;Up
                            </button>
                        </form>
                            <form method="post" asp-area="User" asp-page="/Favorites/Index" asp-page-handler="Down" asp-route-displayOrder="@obj.DisplayOrder">
                                <button type="submit" class="btn btn-outline-secondary">
                                <i class="bi bi-arrow-down-square"></i>&nbsp;Down
                            </button>
                        </form>
                            <form method="post" asp-area="User" asp-page="/Favorites/Index" asp-page-handler="Remove" asp-route-id="@obj.Id">
                            <button type="submit" class="btn btn-outline-danger">
                                <i class="bi bi-x-square"></i>&nbsp;Remove
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="form-floating py-2 col-6 mx-auto">
        <a class="btn btn-outline-secondary w-100" asp-area="" asp-page="/Index">Back</a>
    </div>
</div>